ip={{ ansible_default_ipv4.address }}
hostname={{ fqdn }}
admin_email={{ adminEmail }}
orgName={{ orgName }}
countryCode=HK
city=HK
state=HK
application_max_ram=3072
ldap_type=opendj
ldapPass={{ adminPass }}
installAsimba=False
installHttpd=True
installJce=False
installLdap=True
installOxAuth=True
installOxAuthRP=False
installOxTrust=True
installPassport=False
installSaml=True
